@{
    ViewBag.Title = "Index";
    
}

<!-- Full screen section -->
<section class="full-screen fw-main-row" style="background-image: url(http://placehold.it/2560x1000);">
    <div class="fw-container centered-container tal">
        <div class="container tal">
            <h2 class="h1 big"><span class="blue-color">Helping You</span><br>Stay Happy One</h2>
            <p>Check Out Our Services!</p>
            <a href="javascript:void(0);" class="button-style1"><span>CHECK OUT</span></a><a href="javascript:void(0);" class="button-style1 dark"><span>more info</span></a>
        </div>
    </div>
</section>
<!-- END Full screen section -->
<section class="fw-main-row pt40 pb50">
    <div class="fw-container">
        <h2 class="heading-decor">About us</h2>
        <div class="fw-row">
            <div class="fw-col-md-6">
                <img src="http://placehold.it/525x300" alt="People">
            </div>
            <div class="fw-col-md-6 content">
                <p>Four loko distillery paleo tote bag umami, scenester kale chips before they sold out Austin letterpress heirloom XOXO cardigan. Belly chia Godard biodiesel. YOLO typewriter photo booth, High Life banh mi mumblecore synth stumptown brunch organic Pitchfork pickled Helvetica sustainable Godard. Forage gluten-free gastropub next level, vinyl Vice Bushwick swag brunch kogi. Fanny pack Carles Austin sustainable.</p>
                <a href="javascript:void(0);" class="button-style1">more info</a>
            </div>
        </div>
    </div>
</section>
<section class="fw-main-row dark-bg pt40" style="background-image: url(http://placehold.it/1980x800)">
    <div class="fw-container">
        <h2 class="heading-decor pb20">Our Team</h2>
        <!-- Team carousel -->
        <section class="team-carousel">
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Mark Lowson"></a></div>
                <div class="name">
                    <h4>Dr. Mark Lowson</h4>
                    <span>therapist</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Lara Crow"></a></div>
                <div class="name">
                    <h4>Dr. Lara Crow</h4>
                    <span>Nurse</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Marketa Brown"></a></div>
                <div class="name">
                    <h4>Dr. Marketa Brown</h4>
                    <span>therapist</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Mark Lowson"></a></div>
                <div class="name">
                    <h4>Dr. Mark Lowson</h4>
                    <span>therapist</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Lara Crow"></a></div>
                <div class="name">
                    <h4>Dr. Lara Crow</h4>
                    <span>Nurse</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
            <!-- Team item -->
            <div class="team-item">
                <div class="image"><a href="doctor-personal-page.html"><img src="http://placehold.it/370x270" alt="Dr. Marketa Brown"></a></div>
                <div class="name">
                    <h4>Dr. Marketa Brown</h4>
                    <span>therapist</span>
                </div>
                <div class="timetable">
                    <div class="item">
                        <div class="label">Monday-Friday</div>
                        <div class="value">8:00 - 17:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Saturday</div>
                        <div class="value">10:00 - 16:00</div>
                    </div>
                    <div class="item">
                        <div class="label">Sunday</div>
                        <div class="value">12:00 - 14:00</div>
                    </div>
                </div>
                <a href="doctor-personal-page.html" class="button-style2"><span>read profile</span></a>
            </div>
            <!-- END Team item -->
        </section>
        <!-- END Team carousel -->
    </div>
</section>
<section class="fw-main-row pt40 pb40">
    <div class="fw-container">
        <h2 class="heading-decor pb35">Our Services</h2>
        <div class="fw-row">
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-stethoscope"></div>
                <div class="text">
                    <div class="h4">Therapiya</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-drugs-3"></div>
                <div class="text">
                    <div class="h4">Pharmocology</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
        </div>
        <div class="fw-row">
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-premolar"></div>
                <div class="text">
                    <div class="h4">Dentistry</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-cardiogram-2"></div>
                <div class="text">
                    <div class="h4">Cardiology</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
        </div>
        <div class="fw-row">
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-virus"></div>
                <div class="text">
                    <div class="h4">Virusology</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
            <!-- Icon box -->
            <div class="fw-col-sm-6 icon-box-item">
                <div class="icon medical-icon med-icon-eye"></div>
                <div class="text">
                    <div class="h4">Eye Surgery</div>
                    <p>Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website</p>
                </div>
            </div>
            <!-- END Icon box -->
        </div>
    </div>
</section>
<section class="fw-main-row dark-bg pt35 pb20" style="background-image: url(http://placehold.it/1980x500)">
    <div class="fw-container">
        <div class="fw-row">
            <!-- Icon box style 2 -->
            <div class="fw-col-xs-6 fw-col-md-3 icon-box2-item">
                <div class="icon medical-icon med-icon-cardiogram"></div>
                <span>over</span>
                <div class="number animateNumber" data-num="180">180</div>
                <h4>saved hearts</h4>
            </div>
            <!-- END Icon box style 2 -->
            <!-- Icon box style 2 -->
            <div class="fw-col-xs-6 fw-col-md-3 icon-box2-item">
                <div class="icon medical-icon med-icon-premolar-2"></div>
                <span>over</span>
                <div class="number animateNumber" data-num="2568">2568</div>
                <h4>saved tooth</h4>
            </div>
            <!-- END Icon box style 2 -->
            <!-- Icon box style 2 -->
            <div class="fw-col-xs-6 fw-col-md-3 icon-box2-item">
                <div class="icon medical-icon med-icon-lungs"></div>
                <span>over</span>
                <div class="number animateNumber" data-num="112">112</div>
                <h4>saved lungs</h4>
            </div>
            <!-- END Icon box style 2 -->
            <!-- Icon box style 2 -->
            <div class="fw-col-xs-6 fw-col-md-3 icon-box2-item">
                <div class="icon medical-icon med-icon-stomach"></div>
                <span>over</span>
                <div class="number animateNumber" data-num="235">235</div>
                <h4>saved stomaches</h4>
            </div>
            <!-- END Icon box style 2 -->
        </div>
    </div>
</section>

